@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Pangolin&display=swap');

* {
  color: black;
  font-family: 'Balsamiq Sans', cursive;
}

body {
  margin: 0;
  height: 100%;
  background-color: #223A57;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.app{
  /* height: 95vh; */
  max-width: 1000px;
  margin: 20px auto;
  padding: 3vw;
  text-align: center;
  background:#094185;
  border-radius: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
  

.header {
  width: 95%;
  margin-bottom: 2vw;
  padding: 1.5vw 0;
  text-align: center;
  border: 1px solid black;
  border-radius: 13px;
  background-color: #94C2F9;
}

h1 {
  margin: 0;
  margin-bottom: 0.4vw;
  font-size: 3vw;
}

h2 {
  margin: 0;
  font-size: 2vw;
}

.thingsToDoList {
  width: 95%;
  border: 1px solid black;
  border-radius: 13px;
  background-color: #94C2F9;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.thingToDo {
  width: 40vw;
  margin-bottom: 1vw;
  padding: 1vw;
  border: 1px solid black;
  border-radius: 13px;
  display: flex;
  justify-content: space-between;
}

.thing_container {
  text-align: left;
  word-break: break-word;
}

ul li {
  list-style-type: none;
  font-weight: bold;
  font-size: 1.5vw;
}

ul {
  padding: 0;
}

.btn {
  width: 6vw;
  height: 2vw;
  margin: 0 1vw;
  font-weight: bold;
  font-size: 1vw;
  border: 2px solid black;
  border-radius: 12px;
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btns_container {
  display: flex;
  align-items: center;
}

.semaphorus {
  margin: 0.2vw;
  width: 2vw;
  height: 2vw;
  border-radius: 25px;
} 

.red {
  background-color: red;
}

.yellow {
  background-color: #FFC900;
}

.green {
  background-color: green;
}

.form {
  width: 85%;
  margin-top: 2vw;
  padding: 1.3vw 3vw;
  border: 1px solid black;
  border-radius: 13px;
  background-color: #94C2F9;
  display: flex;
  justify-content: space-between;
}

input {
  width: 25vw;
  margin: 1vw;
  height: 1.5vw;
}



/* MOBILE VERSION */

@media only screen and (max-width: 599px) {

  .app{
    margin: 0;
    padding: 8vw;
  }
  
  .header {
    width: 79vw;
    margin-bottom: 4vw;
    padding: 3vw;
  }
  
  h1 {
    font-size: 11vw;
  }

  h2 {
    font-size: 8vw;
  }
  
  .thingsToDoList {
    width: 85vw;
    margin-bottom: 4vw;
  }
  
  .thingToDo {
    width: 70vw;
    max-width: 70vw;
    padding: 1vw 2vw;
    margin: 4vw 0;
  }
  
  ul li {
    font-size: 4vw;
  }
  
  .btn {
    width: 14vw;
    height: 5vw;
    font-size: 3vw;
  }
  
  .semaphorus {
    width: 5vw;
    height: 5vw;
  } 
  
  .form {
    width: 80vw;
  }
  
  input {
    width: 35vw;
    height: 3vw;
  }

}

@media (min-width: 600px) and (max-width: 900px) {

.app {
  width: 80vw;
}


}