@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Pangolin&display=swap');

* {
  color: black;
  font-family: 'Balsamiq Sans', cursive;
}

.app{
  margin: 20px auto;
  width: 90%;
  max-width: 700px;
  padding: 3vw;
  text-align: center;
  background:#094185;
}

.header {
  margin-bottom: 2vw;
  padding: 1.5vw 0;
  text-align: center;
  border: 1px solid black;
  border-radius: 13px;
  background-color: #94C2F9;
}

h1 {
  margin: 0;
  margin-bottom: 0.4vw;
}
h2 {
  margin: 0;
}

.thingsToDoList {
  border: 1px solid black;
  border-radius: 13px;
  background-color: #94C2F9;
}

.thingToDo {
  margin-bottom: 1vw;
  padding: 1vw;
  border: 1px solid black;
  border-radius: 13px;
  display: flex;
  justify-content: space-between;
}

ul li {
  list-style-type: none;
  margin-right: 3.5vw;
  font-weight: bold;
  font-size: 1.5vw;
}

.btn {
  width: 5vw;
  height: 1.5vw;
  margin: 0 1vw;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 12px;
  background-color: lightgrey;
}

.btns_container {
  display: flex;
  align-items: center;
}

.semaphorus {
  margin: 0.2vw;
  width: 2vw;
  height: 2vw;
  border-radius: 25px;
} 

.red {
  background-color: red;
}

.yellow {
  background-color: #FFC900;
}

.green {
  background-color: green;
}

.form {
  margin-top: 2vw;
  padding: 1.3vw 3vw;
  border: 1px solid black;
  border-radius: 13px;
  background-color: #94C2F9;
  display: flex;
  justify-content: space-between;
}


input {
  width: 25vw;
  margin: 1vw;
  height: 1.5vw;
}